header{
    background-color: #16284f;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:  15px 0;
    align-items: center;
}

.header h1{
    color: #ffffff;

}

nav{
    display: flex;
    gap: 15px;
    align-items: center;
}
.search-box{
    display: flex;
}

.search-box input{
    border: none;
    padding: 6px;
    outline: none;
    width: 200px;
    border-radius: 3px 0 0 3px;
}
.search-box button{
    padding: 5px 6px;
    border: none;
    background-color: #c4c2c2;
    color: #16284f;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}